openapi: 3.0.0
info:
    title: API Documentation
    version: 1.0.0
    description: This document provides detailed information about the API endpoints for this project.

servers:
    - url: https://3000-firebase-quick-share-backend-1767762112097.cluster-a6zx3cwnb5hnuwbgyxmofxpkfe.cloudworkstations.dev
      description: Local
    - url: https://quicksell-backend.onrender.com
      description: Production

components:
    schemas:
        ApiResponse:
            type: object
            required: [success, data, message]
            properties:
                success:
                    type: boolean
                data:
                    nullable: true
                    type: object
                message:
                    type: string
        Product:
            type: object
            properties:
                id:
                    type: string
                    format: uuid
                product_name:
                    type: string
                price:
                    type: number
                stock_quantity:
                    type: integer
                is_active:
                    type: boolean

        CreateProductRequest:
            type: object
            required: [product_name, price]
            properties:
                sku_code:
                    type: string
                    maxLength: 50
                product_name:
                    type: string
                    minLength: 2
                    maxLength: 150
                description:
                    type: string
                    maxLength: 1000
                price:
                    type: number
                    minimum: 0.01
                currency:
                    type: string
                    example: INR
                stock_quantity:
                    type: integer
                    minimum: 0
                is_active:
                    type: boolean
                thumbnail_url:
                    type: string
                    format: uri
                image_urls:
                    type: array
                    items:
                        type: string
                        format: uri
                    maxItems: 10
                category:
                    type: string
                    maxLength: 50

        UpdateProductRequest:
            type: object
            properties:
                sku_code:
                    type: string
                product_name:
                    type: string
                description:
                    type: string
                price:
                    type: number
                currency:
                    type: string
                is_active:
                    type: boolean
                thumbnail_url:
                    type: string
                    format: uri
                image_urls:
                    type: array
                    items:
                        type: string
                        format: uri
                category:
                    type: string

        UpdateStockRequest:
            type: object
            required: [stock_quantity]
            properties:
                stock_quantity:
                    type: integer
                    minimum: 0

        UpdateMyProfileRequest:
            type: object
            required:
                - name
            properties:
                name:
                    type: string
                    minLength: 2
                    maxLength: 100
                    example: "Rahul Verma"

        UpdateShopRequest:
            type: object
            properties:
                shop_name:
                    type: string
                    minLength: 2
                    maxLength: 150
                    example: "Ultra Footwear Pvt Ltd"
                shop_phone:
                    type: string
                    example: "9876543210"
                shop_email:
                    type: string
                    format: email
                    example: "sales@ultrafootwear.in"
                shop_address:
                    type: string
                    example: "Indiranagar, Bangalore"
                shop_logo_url:
                    type: string
                    format: uri
                    example: "https://cdn.example.com/logo.png"
                shop_images:
                    type: array
                    items:
                        type: string
                        format: uri
                    example:
                        - "https://cdn.example.com/img1.png"
                        - "https://cdn.example.com/img2.png"

        CreateOrderRequest:
            type: object
            required: [catalog_id, items]
            properties:
                catalog_id:
                    type: string
                    format: uuid
                    example: "2f56224d-1841-4195-adb7-fb8ea21969dc"
                items:
                    type: array
                    minItems: 1
                    maxItems: 50
                    items:
                        type: object
                        required: [product_id, quantity]
                        properties:
                            product_id:
                                type: string
                                format: uuid
                                example: "931c77f8-c029-4042-9126-7a7ca9ecb57c"
                            quantity:
                                type: integer
                                minimum: 1
                                maximum: 100
                                example: 2

        OrderSummary:
            type: object
            properties:
                id:
                    type: string
                    format: uuid
                total_items:
                    type: integer
                    example: 5
                created_at:
                    type: string
                    format: date-time

        OrderItem:
            type: object
            properties:
                product_id:
                    type: string
                    format: uuid
                product_name:
                    type: string
                price:
                    type: number
                quantity:
                    type: integer

        OrderDetail:
            type: object
            properties:
                id:
                    type: string
                    format: uuid
                total_items:
                    type: integer
                created_at:
                    type: string
                    format: date-time
                order_items:
                    type: array
                    items:
                        $ref: "#/components/schemas/OrderItem"

        CreateCatalogRequest:
            type: object
            required: [catalog_name]
            properties:
                catalog_name:
                    type: string
                    minLength: 2
                    maxLength: 150
                    example: "Winter Collection 2026"

        UpdateCatalogRequest:
            type: object
            properties:
                catalog_name:
                    type: string
                    minLength: 2
                    maxLength: 150
                    example: "Updated Catalog Name"
                is_active:
                    type: boolean
                    example: true

        AddProductsToCatalogRequest:
            type: object
            required: [product_ids]
            properties:
                product_ids:
                    type: array
                    minItems: 1
                    items:
                        type: string
                        format: uuid
                    example:
                        - "931c77f8-c029-4042-9126-7a7ca9ecb57c"
                        - "d5b3d0c0-11f0-4c33-9b1e-2c9a68ef29f1"

        CatalogSummary:
            type: object
            properties:
                id:
                    type: string
                    format: uuid
                catalog_name:
                    type: string
                catalog_slug:
                    type: string
                is_active:
                    type: boolean
                product_count:
                    type: integer
                    example: 12

        PublicCatalogResponse:
            type: object
            properties:
                catalog_name:
                    type: string
                products:
                    type: array
                    items:
                        type: object
                        properties:
                            id:
                                type: string
                                format: uuid
                            product_name:
                                type: string
                            price:
                                type: number
                            thumbnail_url:
                                type: string
                                nullable: true

        SuccessResponse:
            type: object
            properties:
                success:
                    type: boolean
                    example: true
                data:
                    type: object
                message:
                    type: string
        ErrorResponse:
            type: object
            properties:
                success:
                    type: boolean
                    example: false
                data:
                    type: object
                    nullable: true
                    example: null
                message:
                    type: string

    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

tags:
    - name: Users
      description: User & staff management
    - name: Orders
      description: Order placement and management

paths:
    /auth/send-otp:
        post:
            summary: Send a one-time password (OTP) to a user's phone.
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                phone:
                                    type: string
                                    description: A 10-digit phone number.
                                    example: "9876543210"
                            required:
                                - phone
            responses:
                "200":
                    description: OTP sent successfully.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/SuccessResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: object
                                              example: {}
                                          message:
                                              type: string
                                              example: "OTP sent successfully"
                "400":
                    description: Invalid input.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ErrorResponse"
                                    - type: object
                                      properties:
                                          message:
                                              type: string
                                              example: "Phone number must be a valid 10-digit number"

    /auth/verify-otp:
        post:
            summary: Verify the OTP and log in the user.
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                phone:
                                    type: string
                                    description: The 10-digit phone number that received the OTP.
                                    example: "9876543210"
                                otp:
                                    type: string
                                    description: The 4 or 6-digit OTP code.
                                    example: "123456"
                            required:
                                - phone
                                - otp
            responses:
                "200":
                    description: Login successful.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/SuccessResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: object
                                              properties:
                                                  access_token:
                                                      type: string
                                                  refresh_token:
                                                      type: string
                                                  user:
                                                      type: object
                                                      properties:
                                                          id:
                                                              type: string
                                                              format: uuid
                                                          role:
                                                              type: string
                                                              enum: [ADMIN, STAFF]
                                                          shop_id:
                                                              type: string
                                                              format: uuid
                                          message:
                                              type: string
                                              example: "Login successful"
                "400":
                    description: Invalid input for phone or OTP format.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"
                "401":
                    description: Authentication failed due to incorrect, expired, or used OTP.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ErrorResponse"
                                    - type: object
                                      properties:
                                          message:
                                              type: string
                                              example: "Invalid or expired OTP"

    /auth/refresh-token:
        post:
            summary: Obtain a new access token using a refresh token.
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                refresh_token:
                                    type: string
                                    description: The refresh token provided during login.
                            required:
                                - refresh_token
            responses:
                "200":
                    description: Access token refreshed successfully.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/SuccessResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: object
                                              properties:
                                                  access_token:
                                                      type: string
                                          message:
                                              type: string
                                              example: "Access token refreshed"
                "400":
                    description: Missing refresh token.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"
                "401":
                    description: The refresh token is invalid, expired, or revoked.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ErrorResponse"
                                    - type: object
                                      properties:
                                          message:
                                              type: string
                                              example: "Invalid or expired refresh token"

    /auth/logout:
        post:
            summary: Log out the user by revoking their refresh token.
            tags:
                - Authentication
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                refresh_token:
                                    type: string
                                    description: The refresh token to revoke.
                            required:
                                - refresh_token
            responses:
                "200":
                    description: Logged out successfully.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/SuccessResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: object
                                              example: {}
                                          message:
                                              type: string
                                              example: "Logged out successfully"
                "401":
                    description: User is not authenticated.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"

    /internal/onboard-shop:
        post:
            summary: Onboard a new shop owner and their shop.
            tags:
                - Internal
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                owner_name:
                                    type: string
                                    example: "John Doe"
                                owner_phone:
                                    type: string
                                    description: A 10-digit phone number for the owner.
                                    example: "9876543211"
                                shop_name:
                                    type: string
                                    example: "Johns General Store"
                                shop_phone:
                                    type: string
                                    description: A 10-digit phone number for the shop.
                                    example: "9876543212"
                            required:
                                - owner_name
                                - owner_phone
                                - shop_name
                                - shop_phone
            responses:
                "201":
                    description: Shop owner onboarded successfully.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/SuccessResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: object
                                              properties:
                                                  shop:
                                                      type: object
                                                      properties:
                                                          id:
                                                              type: string
                                                              format: uuid
                                                          name:
                                                              type: string
                                                          phone:
                                                              type: string
                                                  owner:
                                                      type: object
                                                      properties:
                                                          id:
                                                              type: string
                                                              format: uuid
                                                          name:
                                                              type: string
                                                          phone:
                                                              type: string
                                                          role:
                                                              type: string
                                                              example: "OWNER"
                                          message:
                                              type: string
                                              example: "Shop owner onboarded successfully"
                "400":
                    description: Invalid input or duplicate entry.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ErrorResponse"
                                    - type: object
                                      properties:
                                          message:
                                              type: string
                                              examples:
                                                  - "owner_phone must be a valid 10-digit number"
                                                  - "User with this phone number already exists"
                                                  - "Shop with this phone number already exists"
                "500":
                    description: Internal server error.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"

    /products:
        post:
            tags: [Products]
            summary: Create product
            operationId: createProduct
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateProductRequest"
            responses:
                "201":
                    description: Product created
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "400":
                    description: Validation error
                "401":
                    description: Unauthorized
                "500":
                    description: Server error

        get:
            tags: [Products]
            summary: List products
            operationId: listProducts
            security:
                - bearerAuth: []
            parameters:
                - name: category
                  in: query
                  schema:
                      type: string
                - name: active
                  in: query
                  schema:
                      type: boolean
            responses:
                "200":
                    description: Products fetched
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: array
                                              items:
                                                  $ref: "#/components/schemas/Product"
                "401":
                    description: Unauthorized
                "500":
                    description: Server error

    /products/{id}:
        get:
            tags: [Products]
            summary: Get product by ID
            operationId: getProductById
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: Product fetched successfully
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: object
                                              properties:
                                                  id:
                                                      type: string
                                                      format: uuid
                                                  product_name:
                                                      type: string
                                                  description:
                                                      type: string
                                                  price:
                                                      type: number
                                                  currency:
                                                      type: string
                                                  stock_quantity:
                                                      type: integer
                                                  is_active:
                                                      type: boolean
                                                  thumbnail_url:
                                                      type: string
                                                  image_urls:
                                                      type: array
                                                      items:
                                                          type: string
                                                  category:
                                                      type: string
                "401":
                    description: Unauthorized
                "404":
                    description: Product not found
                "500":
                    description: Server error

        put:
            tags: [Products]
            summary: Update product
            operationId: updateProduct
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateProductRequest"
            responses:
                "200":
                    description: Product updated
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "404":
                    description: Product not found
                "401":
                    description: Unauthorized
                "500":
                    description: Server error

        delete:
            tags: [Products]
            summary: Delete product (soft delete)
            operationId: deleteProduct
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: Product deleted
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "404":
                    description: Product not found
                "401":
                    description: Unauthorized
                "500":
                    description: Server error

    /products/{id}/stock:
        patch:
            tags: [Products]
            summary: Update product stock
            operationId: updateProductStock
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateStockRequest"
            responses:
                "200":
                    description: Stock updated
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ApiResponse"
                "404":
                    description: Product not found
                "401":
                    description: Unauthorized
                "500":
                    description: Server error

    /products/search:
        get:
            tags: [Products]
            summary: Search products
            operationId: searchProducts
            security:
                - bearerAuth: []
            parameters:
                - name: q
                  in: query
                  description: Search by product name, SKU, or category
                  schema:
                      type: string
                - name: category
                  in: query
                  schema:
                      type: string
                - name: min_price
                  in: query
                  schema:
                      type: number
                - name: max_price
                  in: query
                  schema:
                      type: number
                - name: active
                  in: query
                  schema:
                      type: boolean
            responses:
                "200":
                    description: Products fetched
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - type: object
                                      properties:
                                          data:
                                              type: array
                                              items:
                                                  $ref: "#/components/schemas/Product"
                "401":
                    description: Unauthorized
                "500":
                    description: Server error

    /users/staff:
        post:
            tags: [Users]
            summary: Create staff user
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [name, phone]
                            properties:
                                name:
                                    type: string
                                phone:
                                    type: string
            responses:
                "201":
                    description: Staff created
                "403":
                    description: Forbidden

        get:
            tags: [Users]
            summary: List staff
            security:
                - bearerAuth: []
            responses:
                "200":
                    description: Staff list

    /users/staff/{id}/status:
        patch:
            tags: [Users]
            summary: Enable or disable staff
            security:
                - bearerAuth: []

            parameters:
                - name: id
                  in: path
                  required: true
                  description: Staff user ID
                  schema:
                      type: string
                      format: uuid

            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [is_active]
                            properties:
                                is_active:
                                    type: boolean
                                    example: true

            responses:
                "200":
                    description: Staff status updated
                "400":
                    description: Validation error
                "403":
                    description: Forbidden
                "404":
                    description: Staff not found

    /users/me:
        get:
            tags: [Users]
            summary: Get my profile
            security:
                - bearerAuth: []
            responses:
                "200":
                    description: Profile fetched
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    data:
                                        type: object
                                    message:
                                        type: string

        patch:
            tags:
                - Users
            summary: Update my profile
            description: Update logged-in user's profile (name only)
            security:
                - bearerAuth: []

            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateMyProfileRequest"

            responses:
                "200":
                    description: Profile updated successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    data:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                format: uuid
                                            name:
                                                type: string
                                            phone:
                                                type: string
                                            role:
                                                type: string
                                            shop_id:
                                                type: string
                                                format: uuid
                                    message:
                                        type: string
                                        example: "Profile updated successfully"

                "400":
                    description: Validation error
                "401":
                    description: Unauthorized

    /users/shop:
        patch:
            tags:
                - Users
            summary: Update shop details
            description: Update shop information (admin only)
            security:
                - bearerAuth: []

            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateShopRequest"

            responses:
                "200":
                    description: Shop updated successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    data:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                format: uuid
                                            shop_name:
                                                type: string
                                            shop_phone:
                                                type: string
                                            shop_email:
                                                type: string
                                            shop_address:
                                                type: string
                                            shop_logo_url:
                                                type: string
                                            is_active:
                                                type: boolean
                                    message:
                                        type: string
                                        example: "Shop details updated successfully"

                "400":
                    description: Validation error
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden (not admin)

    /catalogs:
        post:
            tags: [Catalogs]
            summary: Create catalog
            description: Create a new catalog (admin only)
            security:
                - bearerAuth: []

            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateCatalogRequest"

            responses:
                "201":
                    description: Catalog created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    data:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                format: uuid
                                            catalog_slug:
                                                type: string
                                    message:
                                        type: string
                                        example: "Catalog created successfully"

                "400":
                    description: Validation error
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden

        get:
            tags: [Catalogs]
            summary: List catalogs
            description: List all catalogs for the logged-in shop
            security:
                - bearerAuth: []

            responses:
                "200":
                    description: Catalogs fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/CatalogSummary"
                                    message:
                                        type: string

                "401":
                    description: Unauthorized

    /catalogs/{id}:
        put:
            tags: [Catalogs]
            summary: Update catalog
            description: Update catalog details (admin only)
            security:
                - bearerAuth: []

            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid

            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateCatalogRequest"

            responses:
                "200":
                    description: Catalog updated successfully
                "400":
                    description: Validation error
                "403":
                    description: Forbidden
                "404":
                    description: Catalog not found

        delete:
            tags: [Catalogs]
            summary: Delete catalog
            description: Soft delete catalog (admin only)
            security:
                - bearerAuth: []

            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid

            responses:
                "200":
                    description: Catalog deleted successfully
                "403":
                    description: Forbidden
                "404":
                    description: Catalog not found

    /catalogs/{id}/products:
        post:
            tags: [Catalogs]
            summary: Add products to catalog
            description: Add products to a catalog (admin only)
            security:
                - bearerAuth: []

            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid

            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/AddProductsToCatalogRequest"

            responses:
                "200":
                    description: Products added successfully
                "400":
                    description: Validation error
                "403":
                    description: Forbidden
                "404":
                    description: Catalog or product not found

        get:
            tags:
                - Catalogs
            summary: Get all products in a catalog (Admin/Staff)
            description: |
                Fetch all products mapped to a catalog for admin or staff dashboard.
                Includes active and inactive products.
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  description: Catalog ID
                  schema:
                      type: string
                      format: uuid
            responses:
                "200":
                    description: Catalog products fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    data:
                                        type: object
                                        properties:
                                            catalog_name:
                                                type: string
                                                example: Summer Collection
                                            products:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        id:
                                                            type: string
                                                            format: uuid
                                                        product_name:
                                                            type: string
                                                            example: Ultra Hoodie
                                                        price:
                                                            type: number
                                                            example: 1299
                                                        thumbnail_url:
                                                            type: string
                                                            example: https://bucket.s3.region.amazonaws.com/uploads/img.jpg
                                                        is_active:
                                                            type: boolean
                                                            example: false
                                                        stock_quantity:
                                                            type: integer
                                                            example: 0
                                    message:
                                        type: string
                                        example: Catalog products fetched successfully
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Catalog not found

    /catalogs/{id}/products/{productId}:
        delete:
            tags: [Catalogs]
            summary: Remove product from catalog
            description: Remove a product from catalog (admin only)
            security:
                - bearerAuth: []

            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid
                - name: productId
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid

            responses:
                "200":
                    description: Product removed successfully
                "403":
                    description: Forbidden
                "404":
                    description: Catalog or product not found

    /catalog/{slug}:
        get:
            tags: [Catalogs]
            summary: Get public catalog by slug
            description: Public catalog view for sharing
            parameters:
                - name: slug
                  in: path
                  required: true
                  schema:
                      type: string

            responses:
                "200":
                    description: Catalog fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    data:
                                        $ref: "#/components/schemas/PublicCatalogResponse"
                                    message:
                                        type: string

                "404":
                    description: Catalog not found

    /orders:
        post:
            tags: [Orders]
            summary: Place an order from a catalog
            description: |
                Public endpoint to place an order from a shared catalog.
                Redirects buyer to WhatsApp after successful order creation.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateOrderRequest"

            responses:
                "201":
                    description: Order placed successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    data:
                                        type: object
                                        properties:
                                            whatsapp_url:
                                                type: string
                                                format: uri
                                                example: "https://wa.me/919876543210?text=Order%20ID%20123"
                                    message:
                                        type: string
                                        example: "Order placed successfully"

                "400":
                    description: Validation error or product unavailable

        get:
            tags: [Orders]
            summary: List orders
            description: List all orders for the logged-in shop
            security:
                - bearerAuth: []

            responses:
                "200":
                    description: Orders fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/OrderSummary"
                                    message:
                                        type: string

                "401":
                    description: Unauthorized

    /orders/{id}:
        get:
            tags: [Orders]
            summary: Get order details
            description: Fetch details of a single order
            security:
                - bearerAuth: []

            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                      format: uuid

            responses:
                "200":
                    description: Order details fetched successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    data:
                                        $ref: "#/components/schemas/OrderDetail"
                                    message:
                                        type: string

                "401":
                    description: Unauthorized
                "404":
                    description: Order not found

    /uploads/presigned-urls:
        post:
            tags: [Uploads]
            summary: Generate S3 presigned URLs for multiple image uploads
            description: |
                Generates presigned URLs for uploading multiple images directly to S3.
                Frontend must upload files directly to S3 using returned upload_url.
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                files:
                                    type: array
                                    minItems: 1
                                    items:
                                        type: object
                                        properties:
                                            file_name:
                                                type: string
                                                example: image1.jpg
                                            file_type:
                                                type: string
                                                example: image/jpeg
            responses:
                "200":
                    description: Presigned URLs generated successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        example: true
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                upload_url:
                                                    type: string
                                                    example: https://s3.amazonaws.com/...
                                                file_url:
                                                    type: string
                                                    example: https://bucket.s3.region.amazonaws.com/uploads/uuid
                                    message:
                                        type: string
                                        example: Presigned URLs generated
